@import './components/dropdown.css';
@import './components/footer.css';
@import './components/hero.css';
@import './components/info-section.css';
@import './components/logo.css';
@import './components/navbar.css';
@import './components/roster.css';
@import './components/forms.css';
@import './components/profile.css';
@import './components/show-tables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

