.welcome-page .hero {
  position: relative;
  height: 70vh;
  overflow: hidden;
}

.welcome-page .slides img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  filter: brightness(82%);
}

/* Continue prefixing your styles with .welcome-page */
